.button.button-primary,
button.button-primary,
input[type='submit'].button-primary,
input[type='reset'].button-primary,
input[type='button'].button-primary {
  color: #fff;
  background-color: rgba(0, 128, 0, 0.9);
  border-color: rgba(0, 128, 0, 0.9);
}

.header {
  text-align: center;
}

.error,
.success {
  padding: 5px;
  margin: 5px;
  color: white;
  border-radius: 5px;
}

.success {
  background: green;
}

.error {
  background: red;
}

#book-list {
  cursor: pointer;
}
